HELP.md
.gradle
.gradletasknamecache
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Frontend ###
src/main/frontend/**/node_modules
src/main/frontend/.angular

src/main/frontend/.features-gen/
src/main/frontend/playwright-report/
src/main/frontend/test-results/
src/main/frontend/monocart-report/
src/main/frontend/coverage-reports/

src/jsAcceptanceTest/src/.features-gen/

src/jsAdvancedAcceptanceTest/src/.features-gen/
src/jsAdvancedAcceptanceTest/src/playwright-report/
src/jsAdvancedAcceptanceTest/src/test-results/
src/jsAdvancedAcceptanceTest/src/monocart-report/
src/jsAdvancedAcceptanceTest/src/coverage-reports/
nul
**/dist


src/main/frontend/cypress/screenshots/
