<p-dialog id="nuevoGrupoDialog" header="Nuevo Grupo" [(visible)]="mostrar" [modal]="true">
  <div class="p-fluid">
    <div class="field">
      <label for="nombreGrupoNuevoInput">Nombre</label>
      <input id="nombreGrupoNuevoInput" type="text" class="inputfield w-full" pInputText [(ngModel)]="nombre"/>
    </div>
    <div class="field">
      <label for="miembrosGrupoNuevoInput">Miembros</label>
      <div class="inputfield w-full">
        <p-chips inputId="miembrosGrupoNuevoInput" [(ngModel)]="miembros">
          <ng-template let-item pTemplate="item">
            <i class="pi pi-user pr-2"></i> {{item}}
          </ng-template>
        </p-chips>
      </div>
    </div>
  </div>
  <p-footer>
    <p-button id="cancelarGrupoNuevoButton" label="Cancelar" icon="pi pi-times" (onClick)="cancelar()" styleClass="p-button-danger p-button-outlined"></p-button>
    <p-button id="guardarGrupoNuevoButton" label="Guardar" icon="pi pi-check" (onClick)="guardar()" styleClass="p-button-success"></p-button>
  </p-footer>
</p-dialog>
