<p-toast id="mensajesToast"></p-toast>
<div class="card flex justify-content-between flex-wrap bg-primary">
  <div class="flex align-items-center justify-content-center pl-4 text-5xl font-bold">
    Repartir
    <i class="p-4 pi pi-angle-double-left text-5xl"></i>
  </div>

  <div class="flex align-items-center justify-content-center">
    <app-usuario>
    </app-usuario>
  </div>

  <div class="flex align-items-center justify-content-center">
    <img src="assets/img/ge.png" />
  </div>

</div>
<div class="m-5">
  <app-grupos></app-grupos>
</div>
