<configuration>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="INFO" />

    <springProperty name="loggingAppender" source="logging.appender" defaultValue="LOCAL"/>

    <appender name="LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level - %logger{0} : %m%n</pattern>
            <charset>${CONSOLE_LOG_CHARSET:-default}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOCAL" />
    </root>

</configuration>