<p-dialog id="nuevoGastoDialog" header="Nuevo Gasto" [(visible)]="mostrar" [modal]="true">
  <div class="p-fluid">
    <div class="field">
      <label for="idGrupoGastoNuevoInput">Grupo</label>
      <input id="idGrupoGastoNuevoInput" type="text" class="inputfield w-full" pInputText [ngModel]="grupo | identificarGrupo" disabled="true"/>
    </div>
    <div class="field">
      <label for="montoGastoNuevoInput">Monto</label>
      <p-inputNumber inputId="montoGastoNuevoInput" inputStyleClass="inputfield w-full" [(ngModel)]="monto" mode="currency" currency="ARS">
      </p-inputNumber>
    </div>
  </div>
  <p-footer>
    <p-button id="cancelarGastoNuevoButton" label="Cancelar" icon="pi pi-times" (onClick)="cancelar()" styleClass="p-button-danger p-button-outlined"></p-button>
    <p-button id="guardarGastoNuevoButton" label="Guardar" icon="pi pi-check" (onClick)="guardar()" styleClass="p-button-success"></p-button>
  </p-footer>
</p-dialog>
